@charset "UTF-8";

html {
  font-size:62.5%;
  font-family:"ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif;
  color: white;
  background-color: #062c54;
  text-align: center;
}
body {
  font-size:1.4rem;
}
*, *::before, *::after {
  box-sizing:border-box;
}
.clearfix::after {
  content:'';
  display:block;
  clear:both;
}

h1 {
  font-size:2.4rem
}

h2 {
  font-size:1.6rem
}

.container {
  display: flex;
  justify-content: space-around;
}

.item {
  flex: 1;
  text-align: center;
}

.item + .item {
  border-left: 1px solid white; /* 間に引く線の色と太さ */
}

ul {
  list-style: none;
  padding-left: 0;
}

li{
  margin: 1rem auto;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.1); */
  max-width: 350px;
  text-align: left;
 }

 .good_word_item,.good_text_item{
  display: flex;
  gap: 2rem;
 }

  .good_word_item p,.good_text_item p,.my_text_item p{
    margin: 0.5rem;
 }

 .good-form{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
 }

.good_word_item .good-button{
  margin-bottom: 40px;
}

.good_text_item .good-button{
  margin-bottom: 20px;
}

.menu {
  width: 100%;
  font-size:1.4rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.good_word_item p,.good_text_item p{
  display: flex;
  align-items: flex-start;
}

.word-body,.my_text_body{
  display: flex;
  flex-direction: column;
}

.word-body a,.my_text_item a{
  align-self: flex-end;
}

.label{
  display: inline-block;
  width: 100px;
  margin-right: 0.8rem;
}

.value {
  flex: 1;
  min-width: 0;
  font-size: 1.4rem;
  word-break: break-word;
}