{% extends "base.html" %}
{% block title %}マイページ{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
{% endblock %}
{% block main %}
    <script src="{{ url_for('static', filename='js/good.js') }}" defer></script>
    <h1>マイページ</h1>
    <h2>ログインユーザー：{{user.user_name}}</h2>
    <div class="container">
        <div class="item">
            <h2>いいねした単語</h2>
            <ul id="liked_list">
                {% for word in liked_words %}
                    <li class="good_word_item">
                        <form class="good-form" action="{{ url_for('good_word', word_id=word.id) }}" method="POST">
                            <button type="submit" class="good-button">❤️</button>
                        </form>
                        <div class="word-body">
                            <p><span class="label">単語</span><span class="value">{{ word.word }}</span></p>
                            <p><span class="label">読み</span><span class="value">{{ word.reading }}</span></p>
                            <p><span class="label">意味</span><span class="value">{{ word.mean }}</span></p>

                            <a href="{{ url_for('text_new', id=word.id) }}">文章作成</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="item">
            <h2>いいねした文章</h2>
            <ul id="liked_list">
                {% for text in liked_texts %}
                    <li class="good_text_item">
                        <form class="good-form" action="{{ url_for('good_text', text_id=text.id) }}" method="POST">
                            <button type="submit" class="good-button">❤️</button>
                        </form>
                        <div class="text-body">
                            <p><span class="label">タイトル</span><span class="value">{{ text.title }}</span></p>
                            <p><span class="label">文章本文</span><span class="value white-space">{{ text.main_text }}</span></p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="item">
            <h2>作成した文章</h2>
            <ul id="my_texts_list">
                {% for text, good_count in my_texts_data %}
                    <li class="my_text_item">
                        <div class="my_text_body">
                            <p><span class="label">タイトル</span><span class="value">{{ text.title }}</span></p>
                            <p><span class="label">文章本文</span><span class="value white-space">{{ text.main_text }}</span></p>
                            <p><span class="label">いいね数</span><span class="value">{{ good_count }}</span></p>
                            <p><span class=" label">ステータス</span><span class="value">{{ '公開' if text.text_status == 0 else '非公開' }}</span></p>

                            <a href="{{ url_for('text_edit', id=text.id) }}">編集</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="menu">
        <a href="{{ url_for('logout') }}">ログアウト</a>
        <a href="/unregister">退会</a>
        <a href="/">TOP</a>
    </div>
{% endblock %}