{% extends "base.html" %}
{% block title %}マイページ{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mypage.css') }}">
{% endblock %}
{% block main %}
    <h1>{{user_name}}のマイページ</h1>
    <div class="contents">
        いいねした単語
        {% for word in words %}
            {{word.word}}
            <a href="{{ url_for('text_new',id=word.id) }}">文章作成</a>
        {% endfor %}
        <br>
        いいねした文章
        {% for text in texts %}
            {{text.title}}
        {% endfor %}
        <br>
        <br>
        作成した文章
        {% for text,good in user_texts.items() %}
            文章タイトル:{{text.title}} <br>
            文章本文:{{text.main_text}} <br>
            文章のいいね数:{{good}} <br>
            文章ステータス
            {% if text.text_status == 0 %}
                公開 <br>
            {% else %}
                非公開 <br>
            {% endif %}
            <a href="{{ url_for('text_edit',id=text.id) }}">文章編集</a>
        {% endfor %}
    </div>
    <br>
    <a href="{{ url_for('logout') }}">ログアウト</a>
    <a href="/unregister">退会</a>
    <a href="/">TOP</a>
{% endblock %}